$red: #993333;
$blue: #336699;
$green: #669933;
$purple: #993366;


.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    margin: 0.2rem;
    cursor: pointer;
    height: 250px;
    background-position: center;
    background-origin: content-box;
    img {
        width: 100%;
    }
}

.red {
    background-color: $red;
}

.description {
    white-space: pre-line;
}

.stage1 {
    background-color: $red;
    position: absolute;
    bottom: 0px;  
    height: 50px;
}