.room_wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    border: solid 1px #000;
}

li {
    list-style-type: none;
    overflow-y: auto;
    margin-bottom: 15px; 
}

.room_list img {
    max-width: 100px;
    width: 100%;
    float: left;
    margin-right: 15px;
}